.paymentPage {
    padding: 25px 30px;

    .paymentType {
        display: block;

        @media (min-width: $breakpoint-mobile) {
            display: flex;
            vertical-align: middle;
            justify-content: space-evenly;
        }

        .totalPrice {
            display: block;
            padding-bottom: 15px;

            @media (min-width: $breakpoint-mobile) {
                border: 1px solid white;
                padding: 10px;
            }

            h2 {
                padding-right: 10px;
                display: inline-block;
            }

            p {
                padding: 0;
                display: inline-block;
            }
        }

        .payments {
            padding: 25px 0 25px;

            a {
                text-decoration-color: silver;

                p {
                    padding: 0;
                }

                .cashapp {
                    padding-top: 15px;
                }
            }
        }
    }

    .mobBorder {
        border-bottom: 1px solid white;
        padding-bottom: 15px;

        @media (min-width: $breakpoint-mobile) {
            border: none;
        }
    }

    p {
        padding-top: 15px;
    }
}
