.paymentPage {
    padding: 25px 30px;

    .flex {
        display: flex;
        justify-content: center;
        text-align: center;

        .border {
            border-bottom: 1px solid white;
            display: flex;
            justify-content: center;

            h2 {
                padding-right: 10px;
            }

            input {
                width: 50px;
            }
        }
    }

    .paymentType {
        padding: 15px 0 0;
        display: block;

        @media (min-width: $breakpoint-mobile) {
            display: flex;
            vertical-align: middle;
            justify-content: space-evenly;
        }

        .payments {
            padding-bottom: 35px;

            a {
                text-decoration-color: silver;

                p {
                    padding: 0;
                }

                .cashapp {
                    padding-top: 15px;
                }
            }
        }
    }

    p {
        padding-top: 15px;
    }
}
